.cardPlan {
  grid-area: plan;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  max-height: calc(70vh - 40px);
  align-self: start; /* muy importante */
  height: 140px;
}

.cardPlan h3 {
  font-size: 18px;
  color: #263640;
  margin-bottom: 10px;
  font-weight: 600;
}

.cardPlan p {
  font-size: 15px;
  color: #333;
  background-color: #e6f0f4;
  display: inline-block;
  padding: 8px 14px;
  border-radius: 10px;
}
